@charset "utf-8";

/*
	PHP Gallery CSS v1.1
	Last updated 2008-03-27 by andy
*/

form.gallery_selector {
	margin-bottom:2em;
}

p.no_galleries {
	text-align:center;
}

ul.gallery {
	list-style-type:none;
	padding:0;
	margin:0;
}

ul.gallery li {
	display:inline;
	margin-right:4px;
}

ul.gallery li img {
	width: 110px !important;
	height: 70px !important;
	margin: 0 0 4px 0 !important;
	padding: 0 !important;
	border: 3px solid #ec008c;
}