@charset "utf-8";
/* CSS Document */

@import url('reset.css');
@import url('text.css');

html, body {
	width:100%;
}

body {
	background-color:#000000;
}
.pink {
	color:#EC008C;
}

/*////////////////////////////////////GLOBAL VARIABLES */



.full-width {
	float:left;
	display:inline;
	width:100%;
	background-position:center 78px;
	background-repeat:no-repeat;
}

.width50 {
	width:50%;
}

.width100 {
	width:100%;
}

.container {
	width:960px;
	margin:0 auto;
}

.left {
	float:left;
	display:inline;
}

.right {
	float:right;
	display:inline;
}

.clear {
	clear:both;
}

.pink-border {
	border:3px solid #eacf17;
}

.hide {
	display:none;
}

.noMarginTop {
	margin-top:0px !important;
}

.marginRight20 {
	margin-right:20px;
}

.textAlignRight {
	text-align:right;
}

.imagePad {
	padding:15px 0 0 10px;
}

/*////////////////////////////////HEADER */

#header {
	float:left;
	display:inline;
	width:960px;
	height:98px;
    }

#navigation {
	float:right;
	display:inline;
	width:790px;
	margin-top:20px;
	text-align:right;
}

#navigation li {
	display:inline;
	height:71px;
}

/*////////////////////////////////MAIN CONTENT */
#main-content {
	clear:both;
	float:left;
	display:inline;
	width:960px;
	min-height:560px;
	height:auto !important;
	height:560px;
}

#left-column {
	float:left;
	display:inline;
	width:260px;
	margin-top:75px;
	margin-bottom:20px;
}

#right-column {
	float:right;
	display:inline;
	width:658px;
	margin-bottom:20px;
}

.home-buttons h3 {
	float:left;
	display:inline;
	clear:both;
	margin-top:10px;
}

form#cherry-vip, form#contact-form {
	width:311px;
	float:left;
	display:inline; 
}

#venue-hire-gallery {
	float:left;
	display:inline;
	clear:both;
	width:100%;
	padding:5px 0 15px;
}
	#venue-hire-gallery img {
		float:left;
		display:inline;
		padding:20px 5px 0 0;
	}

	#right-column h1 {
		width:100%;
		text-align:right;
		border-bottom:2px solid #eacf17;
		margin-top:36px;
		padding-bottom:1px;
	}
	
	#right-column h2 {
		margin-top:15px;
	}
	
	#right-column .cherryjam-looks-like {
		float:left;
		display:inline;
		width:402px;
	}
	
	#right-column .cherryjam-looks-like #image-cycle {
		width: 402px;
		height: 226px;
	}
	
	#right-column .home-buttons {
		float:right;
		display:inline;
		width:206px;
	}
	
	#whats-on-right-column .whatson-buttons {
		float:right;
		display:inline;
		width:206px;
	}
	
	#right-column .music-player, .music-player {
		float: right;
		display: inline;
		width: 206px;
		height: 48px;
	}
	
	#right-column h4.guestlist {
		border-bottom:2px solid #ec008c;
		padding-bottom:2px;
		margin-bottom:15px;
		margin-top:20px;
	}
	#right-column #google-map {
		width:654px;
		height:196px;
		margin-top:20px;
		border:2px solid #ec008c;
	}
	
#whats-on-left-column {
	float:left;
	display:inline;
	width:660px;
	margin-bottom:5px;
}
	.h1block_right {
		float:left;
		display:inline;
		width:100%;
		clear:both;
	}

	.h1block_left h1 {
		float:left;
		display:inline;
		width:50%;
		text-align:right;
		border-bottom:2px solid #ec008c;
		margin-top:36px;
		margin-bottom:10px;
		padding-bottom:1px;
		text-align:left;
	}

	.h1block_left h2 {
		float:right;
		display:inline;
		width:50%;
		text-align:right;
		border-bottom:2px solid #c2cc1b;
		margin-top:36px;
		padding-bottom:1px;
	}

	#whats-on-left-column h3 {
		border-bottom:1px solid #c2cc1b;
	}
	
		#whats-on-left-column .date-column {
			float:left;
			display:inline;
			width:91px;
			margin-right:3px;
		}
		
		#whats-on-left-column .date-column p {
			margin-top:0px;
		}
		
			#whats-on-left-column .date-date {
				float:left;
				display:inline;
				width:19px;
				height:64px;
				margin-top:5px;
			}
				
			#whats-on-left-column .date-content {
				float:left;
				display:inline;
				width:62px;
				height:55px;
				background-image:url(http://www.cherryjamlondon.com/images/dates/date-bg.jpg);
				background-repeat:no-repeat;
				background-position:bottom;
				padding:5px;
				margin-top:5px;
			}
				
			#whats-on-left-column .date-content-wide {
				float:left;
				display:inline;
				width:621px;
				min-height:56px;
				height:auto !important;
				height:50px;
				background-image:url(http://www.cherryjamlondon.com/images/dates/date-wide-bg.jpg);
				background-repeat:no-repeat;
				background-position:bottom;
				padding:8px;
				margin-top:5px;
			}
	
#whats-on-right-column {
	float:right;
	display:inline;
	width:280px;
	margin-top:75px;
	margin-bottom:20px;
}
	
#footer {
	clear:both;
	background-image:url(../images/bg2.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	min-height:348px;
	height:auto !important;
	height:348px;
}

	#footer #four-links {
		float:left;
		display:inline;
		width:960px;
		clear:both;
	}
	
		#footer #four-links #photos {
			float:left;
			display:inline;
			width:258px;
			clear:both;
			margin-right:28px;
		}
			
			#footer #four-links #photos div {
				float:left;
				display:inline;
				position:relative;
				height:66px !important;
				width:66px !important;
				overflow:hidden;
				margin:0 5px 5px 0;
			}
			
			#footer #four-links #photos img {
				position:absolute;
				float:left;
				display:inline;
				clip:rect(0 66px 66px 0);
				margin:3px 3px 0 0;
			}
			
		#footer #four-links #whats-on {
			float:left;
			display:inline;
			width:205px;
			margin-right:28px;
		}
	
		#footer #four-links #venue-hire {
			float:left;
			display:inline;
			width:205px;
		}
	
		#footer #four-links #contact {
			float:right;
			display:inline;
			width:205px;
		}
	
		#footer #four-links h4 {
			border-bottom:2px solid #c2cc1b;
			padding-bottom:2px;
			margin-bottom:15px;
		}
		
/* /////////////////////////////////FORM STYLING */
label.textbox {
	float:left;
	display:inline;
	width:100px;
}
input.textbox {
	float:left;
	display:inline;
	background:transparent;
	border:1px dotted #c2cc1b;
	width:210px;
	height:18px;
}
select.textbox, form.gallery_selector select {
	float:left;
	display:inline;
	background:transparent;
	[if IE] background-color:#000000;
	border:none;
	border:1px dotted #ec008c;
	width:70px;
	height:18px;
}

form.gallery_selector select {
	width:180px;
}
textarea.textbox{
	background:transparent;
	border:none;
	border:1px dotted #c2cc1b;
	width:100%;
	height:80px;
}