@charset "utf-8";
/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
}

h1, #whats-on-left-column h2 {
	font-size:38px;
	color:#ffffff;
	line-height:42px;
}

h2 {
	font-size:32px;
	color:#ccff00;
	line-height:36px;
	padding-bottom:8px;
}


h3 {
	font-size:22px;
	color:#ccff00;
	line-height:26px;
	padding-bottom:8px;
	margin-top:15px;
}

#whats-on-left-column h3 {
	color:#FFFFFF;
	font-size:20px;
	line-height:22px;
	padding-bottom:1px;
}

#whats-on-left-column h3 a {
	color:#FFFFFF;
	font-size:20px;
	line-height:22px;
	text-decoration:none;
}


h4 {
	font-size:28px;
	color:#ffffff;
	line-height:32px;
}

h4 a {
	color:#ffffff;
	text-decoration:none;
}

h4 a:hover{
	color:#eacf17;
}

.date-content-wide h4 {
	font-size:20px;
	color:#ffffff;
	line-height:24px;
}

h5 {
	font-size:16px;
	color:#ffffff;
	line-height:16px;
	font-weight:bold;
}

.date-column h5 {
	margin-top:20px;
	font-size:14px;
	line-height:18px;
}

p {
	font-size:14px;
	color:#FFFFFF;
	line-height:17px;
	margin-top:17px;
}

p.highlight {
	font-size:16px;
	line-height:17px;
	font-weight:bold;
}

#four-links p {
	margin-top:0px;
	font-size:12px;
	color:#FFFFFF;
	line-height:18px;
}

#contact p, #venue-hire p {
	margin-bottom:12px;
}

#whats-on p {
	font-size:12px;
	line-height:16px;
	padding-bottom:10px;
	margin-bottom:10px;
}

#whats-on-left-column .date-content p {
	font-size:11px;
	line-height:18px;
	color:#FFFFFF;
	letter-spacing:-1px;
}

.date-content-wide p {
	font-size:14px;
	font-weight:bold;
	color:#d5d5d5;
	letter-spacing:1px;
	margin-top:8px;
}

#whats-on-left-column .date-column p a.small-link{
	font-size:9px;
	line-height:15px;
	color:#FFFFFF;
}

#whats-on-left-column .date-content p a{
	font-size:11px;
	line-height:18px;
	color:#FFFFFF;
	letter-spacing:-1px;
}

.size12 {
	font-size:12px !important;
}

.green {
	color:#ccff00;
}

.pink {
	color:#eacf17;
}

.black {
	color:#000000 !important;
}


/*/////////////////////////// BUTTONS */

a {
	color:#eacf17;
	text-decoration:none;
}

#navigation li a {
	display:inline-block;
	height:20px;
	font-size:18px;
	color:#fefefe;
	text-decoration:none;
	line-height:18px;
	text-align:center;
	padding:27px;
	background-image:url(http://www.cherryjamlondon.com/images/btns/button-bg.png);
	background-position:250px center;
	background-repeat:no-repeat;
}

#navigation li a:hover {
	background-position:center center;
	background-repeat:no-repeat;
}

#navigation li a.over {
	background-position:center center;
	background-repeat:no-repeat;
}

a.guest-list-btn {
	float:left;
	display:inline;
	width:124px;
	height:83px;
	background-image:url(http://www.cherryjamlondon.com/images/btns/guest-list-btn.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	margin-top:10px;
}

a:hover.guest-list-btn {
	background-position:0px -83px;
}

a.cherry-vip-btn {
	float:left;
	display:inline;
	width:124px;
	height:83px;
	background-image:url(http://www.cherryjamlondon.com/images/btns/cherry-vip-btn.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	margin-top:10px;
}

a:hover.cherry-vip-btn {
	background-position:0px -83px;
}

a.cherry-christmas-btn {
	float:left;
	display:inline;
	width:200px;
	height:83px;
	background-image:url(http://www.cherryjamlondon.com/images/btns/cherry-christmas-btn.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	margin-top:10px;
}

a:hover.cherry-christmas-btn {
	background-position:0px -83px;
}

a.floor-plan-btn {
	display:block;
	width:150px;
	height:83px;
	background-image:url(http://www.cherryjamlondon.com/images/btns/floor-plan-btn.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	margin-top:10px;
}

a:hover.floor-plan-btn {
	background-position:0px -83px;
}

a.job-opportunities-btn {
	display:block;
	width:219px;
	height:83px;
	background-image:url(http://www.cherryjamlondon.com/images/btns/job-opportunities-btn.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	margin-top:10px;
}

a:hover.job-opportunities-btn {
	background-position:0px -83px;
}

a.site-by {
	color:#627a00;
	font-family:"Trebuchet MS",sans-serif;
	font-size:10px;
	text-decoration:none;
	padding-left:20px;
	background-image:url(http://www.cherryjamlondon.com/images/propeller-logo.gif);
	background-repeat:no-repeat;
	background-position:left center;
	height:19px;
	padding-top:4px;
	text-transform:uppercase;
	width:100px;
}

input, textarea, select {
	color:#eacf17;
	font-size:11px;
}

a.menu-btn {
	float:left;
	display:inline;
	width:200px;
	height:24px;
	background-image:url(http://www.cherryjamlondon.com/images/btns/btn-bg-small.png);
	background-repeat:no-repeat;
	background-position:left center;
	font-size:20px;
	color:#ffffff;
	line-height:20px;
	font-weight:bold;
	margin-right:25px;
	margin-bottom:3px;
	padding-left:12px;
	padding-top:7px;
}

a.menu-btn em {
	font-size:14px;
}

a.guestlist-btn {
	float:left;
	display:inline;
	width:250px;
	height:24px;
	background-image:url(http://www.cherryjamlondon.com/images/btns/btn-bg-small.png);
	background-repeat:no-repeat;
	background-position:left center;
	font-size:20px;
	color:#ffffff;
	line-height:20px;
	font-weight:bold;
	margin-right:25px;
	margin-bottom:3px;
	padding-left:12px;
	padding-top:7px;
}

a.guestlist-btn em {
	font-size:14px;
}
a.back {
	font-size:10px;
	color:#FFFFFF;
}